.aside .logo a::before{
    border-top: 3px solid #72b626;
    border-left: 3px solid #72b626;
}
.aside .logo a::after{
    border-bottom: 3px solid #72b626;
    border-right: 3px solid #72b626;
}
body.dark .portfolio .portfolio-filter button.active,
.contact .contact-info-item .icon .fas,
.contact .contact-info-item .icon .fa,
.blog .blog-tags a,
.lightbox-controls .prev-item .fa,
.lightbox-controls .next-item .fa,
.portfolio .portfolio-info .icon .fa,
.portfolio .portfolio-filter button.active,
.service .service-item .service-item-inner .fa,
.about-text h3 span,
body.dark .aside .nav li a.active,
body.dark .aside .nav li a:hover,
.aside .nav li a:hover,
.aside .nav li a.active{
    /* padding-left: 5px; */
    color: #72b626;
}
.blog-item-inner .blog-date,
.service .service-item .service-item-inner:hover .icon,
.about .timeline .timeline-item::before,
.about .timeline .circle-dot,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.section-title h2::before,
.section-title h2::after,
.btn,
.progress-in,
.home .intro .social-links a
{
    background-color: #72b626;
}

.portfolio .portfolio-filter button.active{
    border-color: #72b626;
}